.react_container {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);
    background-color: #3F4756;
    color: #fff;
}

.react_container h2 {
    color: inherit;
    display: flex;
}

.react_wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
}

.react_card,
.react_leftContent,
.react_rightContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}

.react_leftContent img {
    width: 60%;
    animation: rotateReact 15s linear infinite;
}

.react_leftContent img,
.react_rightContent img {
    margin-bottom: 1rem;
}

.react_leftContent ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem auto 1rem auto;
}

.react_leftContent ul li {
    margin: 0 1rem auto 1rem;
}

.react_rightContent img {
    padding: 10px;
    width: 40%;
    clip-path: circle(50% at 50% 50%);
}

#redux-icon:hover {
    animation: flashIcon 1s ease-in-out infinite;
}

#next-icon:hover {
    background-color: #fff;
}

@keyframes rotateReact {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flashIcon {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.6;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }

}


@media (max-width: 800px) {
    .react_wrapper {
        flex-direction: column;
    }

    .react_leftContent ul {
        flex-direction: column;
    }
}